.h2_1 {
  font-size: 3rem;
  margin-top: 7rem;
  text-align: center;
}

.formulaire1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--secondary-color);
  width: 65vw;
  gap: 3rem;
  border-radius: 30px;
  padding: 2rem;
  height: 50rem;
  margin-bottom: 2rem;
  padding-top: 5rem;
}

fieldset {
  border: 2px solid var(--primary-color);
  padding: 2.5rem 0.5rem;
}

legend {
  font-size: 1.5rem;
}

.input_container_adoption1 {
  position: relative;
  margin-bottom: 2rem;
}

.input_container_adoption1 input,
.input_container_adoption2 input {
  display: block;
  margin: 0 auto;
  width: 30vw;
  padding: 0.8rem 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}

.input_radio_group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 70%;
  margin: 0 auto;
}

.radio_option {
  text-align: center;
}

.radio_option label {
  display: block;
  font-size: 1.5rem;
  color: var(--primary-color);
  position: relative;
  left: -2.5rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

.radio_choix_animal {
  display: block;
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  transition: all 0.5s ease;
}

.radio_choix_animal:hover {
  box-shadow: inset 15px 15px 14px var(--primary-color),
    inset -25px -25px 21px var(--secondary-color);
  transition: all 0.8s;
}

.radio_choix_animal:checked {
  background-color: var(--quinairy-color);
  border-color: var(--quinairy-color);
  transform: rotatex(360deg);
}

.radio_choix_animal:checked:after {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 0.25em;
  height: 0.5em;
  border: solid var(--tertiary-color);
  border-width: 0 0.15em 0.15em 0;
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: 0.1em 0.1em 0em rgba(0, 0, 0, 0.3);
}

.input_textarea {
  margin-top: 4rem;
}

textarea {
  height: 13rem;
  resize: none;
  width: 30vw;
  border-radius: 4px;
}

.input_textarea label {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-size: 1.5rem;
  padding-bottom: 2.5rem;
  position: absolute;
  left: 35.4%;
}

/*************** media query form 1 ****************/

@media screen and (min-width: 320px) and (max-width: 480px) {
  .h2_1 {
    font-size: 2.6rem;
  }

  .formulaire1 {
    width: 75vw;
  }

  .input_container_adoption1 input,
  .input_container_adoption2 input {
    width: 82vw;
  }

  .input_radio_group {
    width: 95%;
  }

  textarea {
    width: 82vw;
  }

  .input_textarea label {
    left: 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .h2_1 {
    font-size: 2.6rem;
  }

  .formulaire1 {
    width: 83vw;
  }

  .input_container_adoption1 input,
  .input_container_adoption2 input {
    width: 80vw;
  }

  textarea {
    width: 80vw;
  }

  .input_textarea label {
    left: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .formulaire1 {
    width: 87vw;
  }

  .input_container_adoption1 input,
  .input_container_adoption2 input {
    width: 75vw;
  }

  .input_radio_group {
    width: 80%;
  }

  .input_radio_group label {
    margin: 0 auto;
    padding-top: 3rem;
  }

  .input_textarea label {
    left: 0;
  }

  textarea {
    width: 82vw;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .formulaire1 {
    width: 85vw;
  }

  .input_container_adoption1 input,
  .input_container_adoption2 input {
    width: 65vw;
  }

  .input_radio_group label {
    margin: 0 auto;
    padding-top: 3rem;
  }

  textarea {
    width: 65vw;
  }

  .input_textarea label {
    left: 12rem;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
  .formulaire1 {
    width: 75vw;
  }

  .input_container_adoption1 input,
  .input_container_adoption2 input {
    width: 57vw;
  }

  .input_radio_group label {
    margin: 0 auto;
    padding-top: 3rem;
  }

  textarea {
    width: 57vw;
  }

  .input_textarea label {
    left: 16.5rem;
  }
}

/*************** Formulaire 2 ****************/

.h2_2 {
  font-size: 3rem;
  text-align: center;
}

.formulaire2 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--secondary-color);
  width: 50vw;
  border-radius: 30px;
  padding: 2rem;
  height: 31rem;
  margin-bottom: 2rem;
  padding-top: 5rem;
}

.input_container_adoption2 {
  position: relative;
  margin-bottom: 2rem;
  color: var(--primary-color);
  font-size: 1.5rem;
}

.logement-selector {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.logement-selector label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.5rem;
  color: var(--primary-color);
}

#infos_form2 {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--primary-color);
}

#buton_form2:hover {
  border-color: var(--primary-color);
}

.buton_form2 {
  margin-top: -0.5rem;
}

/***************** button envoie des deux formulaire ********************/

.button_envoie {
  display: block;
  margin: 0 auto;
  padding: 0.8rem 2rem;
  border: none;
  color: var(--tertiary-color);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--primary-color);
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.button_envoie:hover {
  background-color: var(--senary-color);
}

/****************** CSS pour message envoie ********************/

.popup-status {
  position: fixed;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  color: var(--tertiary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 1.5rem;
  text-align: center;
}

.popup-status.success {
  background-color: rgb(7, 156, 7); /* Vert pour succès */
}

.popup-status.error {
  background-color: rgb(220, 53, 69); /* Rouge pour erreur */
}

/************* media query form 2 ****************/

@media screen and (min-width: 320px) and (max-width: 480px) {
  .h2_2 {
    font-size: 2.5rem;
  }

  .formulaire2 {
    width: 75vw;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .h2_2 {
    font-size: 2.5rem;
  }

  .formulaire2 {
    width: 83vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .formulaire2 {
    width: 87vw;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .formulaire2 {
    width: 85vw;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
  .formulaire2 {
    width: 75vw;
  }
}
