.container_img_propos {
  background-image: url(/public/img/Bannière_canva_propos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 28rem;
  margin-top: 3.5rem;
}

.div_propos1,
.div_propos2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.rectangle_propos1,
.rectangle_propos2 {
  background-color: var(--secondary-color);
  width: 50%;
  margin-top: -5px;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.rectangle_propos1 h2,
.rectangle_propos2 h2 {
  font-size: 25px;
  border: 3px solid var(--primary-color);
  display: inline-block;
  padding: 5px;
}

.rectangle_propos1 p,
.rectangle_propos2 p {
  font-size: 18px;
  width: 80%;
  text-align: center;
}

.image_propos1 img,
.image_propos2 img {
  width: 400px;
  height: 400px;
}

.div_espace1 {
  background-color: var(--primary-color);
  height: 0.5rem;
  width: 76.3%;
  margin-top: -0.5rem;
}

.h1_histoire {
  font-size: 33px;
  border: 4px solid var(--primary-color);
  display: block;
  padding: 10px;
  text-align: center;
  margin: 2rem auto;
  width: fit-content;
}

.image_histoire1 {
  display: flex;
  justify-content: center;
}

.image_histoire1 img {
  width: 73.7%;
  height: 300px;
}

.container_histoire2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.div_container_histoire1,
.div_container_histoire2 {
  background-color: var(--secondary-color);
  width: 30vw;
  justify-items: center;
  box-shadow: 12px 13px 11px rgba(0, 0, 0, 0.3);
}

.div_container_histoire1 p,
.div_container_histoire2 p {
  font-size: 18px;
  justify-self: center;
  width: 80%;
  text-align: justify;
  padding: 8px;
}

.div_container_histoire2 img {
  border-radius: 70%;
  padding: 8px;
  height: 450px;
}

.img_jules {
  text-align: center;
}

.mini-_titre {
  font-size: 0.9rem;
  color: #555;
  margin-top: 5px;
  font-style: italic;
}

@media (max-width: 650px) {
  .container_img_propos {
    height: 18rem;
  }

  .div_propos1 {
    flex-direction: column-reverse;
    margin-top: 1rem;
    gap: 1rem;
    width: 90vw;
    justify-self: center;
    align-content: center;
  }

  .rectangle_propos1,
  .rectangle_propos2 {
    width: 90%;
    height: auto;
    margin-top: 1rem;
  }

  .rectangle_propos1 h2,
  .rectangle_propos2 h2 {
    font-size: 20px;
  }

  .rectangle_propos1 p,
  .rectangle_propos2 p {
    font-size: 16px;
    width: 90%;
  }

  .image_propos1 img,
  .image_propos2 img {
    width: 400px;
    height: 300px;
  }

  .div_espace1 {
    display: none;
  }

  .h1_histoire {
    font-size: 28px;
    padding: 8px;
  }

  .image_histoire1 img {
    width: 90%;
    height: auto;
  }

  .container_histoire2 {
    flex-direction: column;
    align-items: center;
  }

  .div_container_histoire1,
  .div_container_histoire2 {
    width: 90%;
    height: auto;
    margin-bottom: 1.5rem;
  }

  .div_container_histoire1 p,
  .div_container_histoire2 p {
    font-size: 16px;
    width: 90%;
  }

  .div_container_histoire2 img {
    height: 300px;
  }

  .mini-_titre {
    font-size: 0.8rem;
  }
}

@media (min-width: 650px) and (max-width: 768px) {
  .container_img_propos {
    height: 18rem;
  }

  .div_propos1 {
    flex-direction: column-reverse;
    margin-top: 1rem;
    gap: 1rem;
    width: 75vw;
    justify-self: center;
    align-content: center;
  }

  .rectangle_propos1,
  .rectangle_propos2 {
    width: 90%;
    height: auto;
    margin-top: 1rem;
  }

  .rectangle_propos1 h2,
  .rectangle_propos2 h2 {
    font-size: 20px;
  }

  .rectangle_propos1 p,
  .rectangle_propos2 p {
    font-size: 16px;
    width: 90%;
  }

  .image_propos1 img,
  .image_propos2 img {
    width: 400px;
    height: 300px;
  }

  .div_espace1 {
    display: none;
  }

  .h1_histoire {
    font-size: 28px;
    padding: 8px;
  }

  .image_histoire1 img {
    width: 90%;
    height: auto;
  }

  .container_histoire2 {
    flex-direction: column;
    align-items: center;
  }

  .div_container_histoire1,
  .div_container_histoire2 {
    width: 90%;
    height: auto;
    margin-bottom: 1.5rem;
  }

  .div_container_histoire1 p,
  .div_container_histoire2 p {
    font-size: 16px;
    width: 90%;
  }

  .div_container_histoire2 img {
    height: 300px;
  }

  .mini-_titre {
    font-size: 0.8rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container_img_propos {
    background-size: contain;
    margin-top: 0;
  }
}
