.carrousel-container {
  position: relative;
  width: 63vw;
  margin: auto;
  overflow: hidden;
  background-color: #778d45;
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.carrousel_card {
  flex: 0 0 calc(100% / 3);
  background-color: #f4eaca;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  text-align: center;
  margin: 11.5px;
  max-width: 300px;
}

.card-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.card-info {
  padding: 10px;
  font-family: Arial, sans-serif;
}

.h3card_info {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.card-info p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.card-info button {
  background-color: #778d45;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.card-info button:hover {
  background-color: #567334;
}

.details-button {
  display: inline-block;
  background-color: #778d45;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.details-button:hover {
  background-color: #687d36;
}

.details-button:active {
  background-color: #6c813a;
}

.carrousel-wrapper {
  width: 100%;
  overflow: hidden;
}

.carrousel {
  display: flex;
  transition: transform 0.7s ease-in-out;
}

.carrousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 25%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.carrousel-button:hover {
  background-color: #34495e;
}

.carrousel-button.prev {
  left: 10px;
}

.carrousel-button.next {
  right: 10px;
}
