.page_compagnons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  margin-top: 3rem;
}

.h1_compagnons {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5rem;
  text-align: center;
  padding-bottom: 6rem;
}

.container_compagnons {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.animal_group_compagnons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10rem;
}

.item_flip-card {
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.3s;
  transform-style: preserve-3d;
}

.item_flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  transition: all 0.4;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 7px 8px rgba(0, 0, 0, 0.3);
}

.flip-card-front {
  background-color: var(--secondary-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-top: -3rem;
}

.flip-card-front h3 {
  font-size: 2rem;
  margin-top: 1.5rem;
  text-align: center;
}

.flip-card-front span {
  font-size: 1.3rem;
  display: block;
  margin-top: 1rem;
}

.flip-card-back {
  background-color: var(--secondary-color);
  transform: rotatey(180deg);
  padding: 2.5rem;
  border-radius: 100%;
  text-align: center;
  position: relative;
  bottom: 4.5rem;
}

.animal-description {
  font-size: 1.4rem;
  padding: 0.8rem;
  width: 75%;
}
