.container_page_contact {
  position: relative;
  left: 25%;
  width: 50%;
  height: 50rem;
  padding-bottom: 7.5rem;
  margin-bottom: 5rem;
}

.img_contact {
  position: relative;
  margin-top: 7rem;
  left: 25%;
  padding-bottom: 1rem;
}

.div_container_contact {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 63%;
  background-color: #f4eaca;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 7px 9px 12px rgba(0, 0, 0, 0.3);
}

.h1_contact {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: -1.5rem;
}

.container_form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.input-container {
  position: relative;
  margin-bottom: 2rem;
}

.input-container input,
.input-container textarea {
  display: block;
  margin: 0 auto;
  width: 30vw;
  padding: 0.8rem 0.5rem;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  color: black;
  resize: none;
}

/* Style du label à l'intérieur de l'input (au début) */
.input-container label {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #aaa;
  pointer-events: none;
  background: transparent;
  padding: 0 5px;
  transition: all 0.2s ease-in-out;
}

/* Lorsque l'input ou textarea est en focus, le label remonte au-dessus avec un fond */
.input-container input:focus + label,
.input-container textarea:focus + label,
.input-container input:not(:placeholder-shown) + label,
.input-container textarea:not(:placeholder-shown) + label {
  top: -8.5px;
  left: 0.5rem;
  transform: translateY(0);
  font-size: 1rem;
  color: #778d45;
  background-color: #f4eaca;
  padding: 0 5px;
}

/* Pour lorsque l'input ou textarea est rempli sans focus */
.input-container input:not(:focus):not(:placeholder-shown) + label,
.input-container textarea:not(:focus):not(:placeholder-shown) + label {
  top: 12px;
  left: 0.5rem;
  font-size: 1rem;
  color: black;
  background-color: #f4eaca;
  padding: 0 5px;
}

/* Quand l'input ou textarea est en focus, la bordure devient verte */
.input-container input:focus,
.input-container textarea:focus {
  border-color: #778d45;
}

textarea {
  height: 9rem;
}

.button_envoyer {
  display: block;
  margin: 0 auto;
  padding: 0.8rem 2rem;
  color: #778d45;
  border: 2px solid #778d45;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: white;
}

.button_envoyer:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border: none;
  transition: ease 0.5s;
}

.map_container {
  margin-top: 5rem;
  height: 300px;
  border-radius: 20px;
}

/* Responsive Design */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .input-container input,
  .input-container textarea {
    width: 80vw;
  }

  .map_container {
    width: 100%;
    height: 20rem;
    position: relative;
    bottom: 0;
    right: 0;
  }
}
