.container_page_contact {
  position: relative;
  left: 25%;
  width: 50%;
  height: 50rem;
  padding-bottom: 7.5rem;
}

.img_contact {
  position: relative;
  margin-top: 7rem;
  left: 25%;
  padding-bottom: 1rem;
}

.container_form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: rgba(244, 234, 202, 0.9);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.h1_contact {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: -1.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-container {
  position: relative;
  margin-bottom: 2rem;
}

input,
textarea {
  display: block;
  margin: 0 auto;
  width: 20rem;
  padding: 0.8rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  resize: none;
}

textarea {
  height: 9rem;
}

input:focus,
textarea:focus {
  border-color: #4caf50;
}

label {
  position: absolute;
  left: 0.5rem;
  transform: translateY(-50%);
  margin-left: 9rem;
}

input:focus + label,
textarea:focus + label,
input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label,
.focused + label {
  top: -0.8rem;
  font-size: 1.2rem;
  color: #778d45;
}

.button_envoyer {
  display: block;
  margin: 0 auto;
  padding: 0.8rem 2rem;
  color: #778d45;
  border: 2px solid #778d45;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: white;
  font-size: 1.5rem;
}
