.container_equipe1 {
  display: flex;
  align-items: center;
  background-image: url("../public/img/pexels-anete-lusina-16621442.jpg");
  background-size: cover;
  background-position: center;
  height: 430px;
  padding: 2rem;
  color: var(--tertiary-color);
  margin-bottom: 5rem;
}

.div_container_equipe1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.div_equipe1 {
  max-width: 30rem;
}

.div_equipe1 h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.div_equipe1 p {
  font-size: 20px;
  text-align: justify;
  margin-top: 2rem;
}

.image_equipe1 {
  margin-top: 16rem;
}

.image_equipe1 img {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 650px;
  height: 400px;
}

.h2_equipe1 {
  border: 3px solid var(--primary-color);
  display: inline-block;
  padding: 5px;
  font-size: 1rem;
  margin-top: -3rem;
  position: relative;
  left: 13%;
}

.container_equipe2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.container_equipe2 img {
  width: 330px;
  height: 330px;
  object-fit: cover;
}

.container_equipe2 p {
  font-size: 20px;
  text-align: justify;
  width: 30rem;
}

.div_box1,
.div_box2,
.div_box3 {
  display: flex;
  align-items: center;
  width: 60vw;
  height: 20vw;
  background-color: var(--secondary-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.2);
}

.div_box4 {
  display: block;
  width: 60vw;
  height: 20vw;
  background-color: var(--secondary-color);
  justify-items: center;
  border-radius: 10px;
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.2);
}

.div_box4 h3 {
  font-size: 1.5rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  background-color: var(--tertiary-color);
  padding: 0.5rem;
  border-radius: 50px;
}

.text_box {
  padding: 1.5rem;
  flex: 1;
}

.div_box2 {
  flex-direction: row-reverse;
}

@media (max-width: 650px) {
  .container_equipe1 {
    flex-direction: column;
    height: auto;
    padding: 2rem;
    margin-top: 6rem;
  }

  .div_container_equipe1 {
    flex-direction: column;
    justify-content: center;
  }

  .div_equipe1 {
    max-width: 100%;
    text-align: center;
  }

  .div_equipe1 h1 {
    font-size: 2rem;
  }

  .div_equipe1 p {
    font-size: 17px;
    margin-top: 1rem;
  }

  .image_equipe1 {
    margin-top: 2rem;
  }

  .image_equipe1 img {
    width: 100%;
    height: auto;
  }

  .h2_equipe1 {
    font-size: 1rem;
  }

  .container_equipe2 {
    gap: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90vw;
    justify-self: center;
    align-content: center;
  }

  .container_equipe2 img {
    width: 90vw;
    height: 280px;
    object-fit: cover;
  }

  .container_equipe2 p {
    font-size: 17px;
    width: 100%;
    height: auto;
  }

  .div_box1,
  .div_box2,
  .div_box3,
  .div_box4 {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .div_box4 h3 {
    font-size: 1.2rem;
    margin: 0.5rem;
  }

  .text_box {
    padding: 1rem;
  }
}
