.container_appercu {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.item {
  margin-top: 1rem;
  border: 1px solid #778d45;
  width: 20rem;
  height: 25rem;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color: #f4eaca;
}

.item img {
  width: 320px;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.item_info h3 {
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}

.age {
  font-size: 1.3rem;
  margin-left: 10rem;
  margin-top: -3.8rem;
}

.item_info button {
  background-color: #778d45;
  border: #778d45;
  float: right;
  margin-right: 3rem;
  width: 6rem;
  height: 2rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  cursor: pointer;
}

.item_info span {
  margin-left: 1rem;
}

.animal_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.button_plus {
  margin-top: 1rem;
  margin-left: 39.5rem;
  background-color: #778d45;
  border: #778d45;
  border-radius: 50px;
  width: 15rem;
  height: 2.3rem;
  color: white;
  font-size: 1.5rem;
}
