.container_img {
  background-image: url(../public/img/pexels-anete-lusina-16621442.jpg);
  /* background-color: red; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 30rem;
  min-width: 100vw;
  top: 0;
  left: 0;
  padding: 0;
  margin-top: 25rem;
}

.h1_titre {
  color: white;
  margin-top: -20rem;
  font-size: 4rem;
  margin-left: 20rem;
  padding-top: 4rem;
}

.paragraphe_container {
  color: white;
  font-size: 2.5rem;
  margin-left: 15rem;
}

.circle_img0 {
  margin-top: -10.5rem;
  margin-right: 5rem;
}

.circle_img1 img {
  border-radius: 100%;
  float: right;
  margin-right: 5rem;
  margin-top: -10rem;
}

.circle_img2 img {
  border-radius: 100%;
  float: right;
  margin-right: -3rem;
  margin-top: -10rem;
}

.circle_img3 img {
  border-radius: 100%;
  float: right;
  margin-right: -18rem;
  margin-top: 4rem;
}

.button_propos {
  background-color: #778d45;
  border-radius: 50px;
  width: 12rem;
  height: 3rem;
  border: #778d45;
  margin-left: 40rem;
  margin-top: 13rem;
  font-size: 1.5rem;
  color: white;
}

.container_choix {
  background-color: #f4eaca;
  height: 30rem;
  display: flex;
  gap: 15rem;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
}

.container_choix img {
  border-radius: 100%;
  margin-top: 5rem;
}

.button_choix_chiens {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5.5rem;
  margin-top: 1.5rem;
  width: 8rem;
  height: 2.5rem;
  font-size: 1.8rem;
  border-radius: 50px;
  border: 2px solid #778d45;
  color: #778d45;
}

.button_choix_chats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  margin-left: 6rem;
  width: 8rem;
  height: 2.5rem;
  font-size: 1.8rem;
  border-radius: 50px;
  border: 2px solid #778d45;
  color: #778d45;
}

.leur_maison {
  position: relative;
  top: 5rem;
  padding-bottom: 15rem;
}

.span_maison {
  position: relative;
  color: #778d45;
  font-size: 4rem;
  top: -3rem;
  left: 10rem;
}

.leur_maison img {
  position: relative;
  float: right;
  margin-right: 18rem;
  margin-top: -10rem;
}

.nombre {
  color: #778d45;
  font-size: 4rem;
  margin-left: 40rem;
}

.home_propos h2 {
  text-align: center;
  font-size: 2.5rem;
}

.paragraphe_home_propos {
  margin-left: 10rem;
  margin-top: -1rem;
  font-size: 1.5rem;
}

.home_propos_img img {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  float: right;
  position: relative;
  top: -15rem;
  margin-right: 15rem;
}

.home_propos button {
  background-color: #778d45;
  border: #778d45;
  color: white;
  border-radius: 50px;
  width: 12rem;
  height: 2.5rem;
  font-size: 1.5rem;
  position: relative;
  margin-top: 5rem;
  left: 35rem;
  cursor: pointer;
}

.container_aides_soins {
  background-color: #f4eaca;
  height: 35rem;
  width: 100%;
}

.h2_titre_soins {
  position: relative;
  left: 20rem;
}

.container_aides_soins h2 {
  margin-top: 9rem;
  text-align: center;
  padding: 2.5rem;
  font-size: 2rem;
}

.icon_ensemble {
  display: flex;
  gap: 20rem;
  justify-content: center;
}

.icon_soins1 img {
  display: block;
  margin: 0 auto;
}

.icon_soins1 h2 {
  margin-top: 1rem;
}

.icon_soins2 img {
  display: block;
  margin: 0 auto;
}

.icon_soins2 h2 {
  margin-top: 1rem;
}

.icon_soins1 button,
.icon_soins2 button {
  display: block;
  margin: 0 auto;
  margin-top: -2rem;
  background-color: #778d45;
  border: #778d45;
  border-radius: 50px;
  width: 7rem;
  height: 2rem;
  font-size: 1.3rem;
}

@media screen and (max-width: 320px) {
  .h1_titre {
    display: flex;
    position: relative;
    color: red;
  }
}
