/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

html,
body {
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Barlow", sans-serif;
}

p {
  font-family: "Ubuntu", sans-serif;
}

/* Variables css */
:root {
  --primary-color: #778d45;
  --secondary-color: #f4eaca;
  --tertiary-color: #ffffff;
  --quaternary-color: #000000;
  --quinairy-color: #007bff;
  --senary-color: #567334;
}
