.h1_inscription {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 7rem;
}

.img_cat_form img {
  width: 200px;
  height: 200px;
  position: absolute;
  left: -9rem;
  top: -7.1rem;
}

.container_form_inscription {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #f4eaca;
  width: 50vw;
  border-radius: 30px;
  padding: 2rem;
  height: 100vh;
  margin-bottom: 2rem;
}

.input_container_inscri {
  position: relative;
  margin-bottom: 2rem;
}

.input_container_inscri label {
  color: #778d45;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  position: absolute;
  margin-left: 5%;
  top: 0;
}

input:focus + label,
input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label,
.focused + label {
  top: 0;
  font-size: 1.5rem;
}

label {
  position: absolute;
  transform: translateY(-50%);
  margin-left: 5rem;
}

input {
  display: block;
  margin: 0 auto;
  width: 30vw;
  padding: 0.8rem 0.5rem;
  font-size: 1rem;
  border: 2px solid #778d45;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}

.password-container {
  position: relative;
  width: 100%;
}

.password_container input {
  width: 100%;
  padding-right: 35px;
  box-sizing: border-box;
}

.toggle_password {
  position: absolute;
  top: 55%;
  right: 2rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggle_password:hover {
  text-decoration: underline;
}

.input_conditions {
  position: relative;
  top: 3.5rem;
}

.input_conditions input {
  width: 40px;
}

.input_conditions label {
  display: flex;
}

.button_envoyer_inscri {
  display: block;
  margin: 0 auto;
  padding: 0.8rem 2rem;
  margin-top: 5rem;
  color: #778d45;
  border: 2px solid #778d45;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: white;
  font-size: 1.5rem;
}

.error-message {
  color: red;
  /* font-size: 14px; */
  /* margin-top: 10px; */
}

.input_with_image {
  display: flex;
  align-items: center;
}

.cat_image {
  width: 220px;
  height: 250px;
  margin-left: -10.8rem;
  position: absolute;
  margin-top: -6.7rem;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .container_form_inscription {
    width: 75vw;
  }
}
