.container_img_partenaires {
  background-image: url(../public/img/img_chiens_chats_partenaires.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.h1_partenaires {
  padding-top: 32rem;
  color: var(--tertiary-color);
  font-size: 3rem;
  text-align: center;
}

.container_logo_partenaires {
  background-color: var(--secondary-color);
  width: 65vw;
  display: flex;
  border-radius: 30px;
  margin: 0 auto;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.img_logo img {
  width: 200px;
  border-radius: 30%;
}

.img_logo {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  align-items: center;
  justify-content: center;
}

/* Responsive */
@media (max-width: 480px) {
  .container_img_partenaires {
    margin-top: 6rem;
  }

  .h1_partenaires {
    padding-top: 8rem;
    font-size: 1.5rem;
  }

  .container_logo_partenaires {
    width: 80vw;
    flex-direction: column;
    padding: 1rem;
    border-radius: 18px;
  }

  .img_logo {
    gap: 2rem;
  }

  .img_logo img {
    width: 200px;
    border-radius: 20%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .container_img_partenaires {
    margin-top: 6rem;
  }

  .h1_partenaires {
    padding-top: 16rem;
    font-size: 2.2rem;
  }

  .container_logo_partenaires {
    width: 85vw;
    flex-direction: column;
    padding: 1.2rem;
    border-radius: 22px;
  }

  .img_logo {
    gap: 3rem;
  }

  .img_logo img {
    width: 160px;
    border-radius: 22%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container_img_partenaires {
    margin-top: 6rem;
  }

  .h1_partenaires {
    padding-top: 20rem;
    font-size: 2.5rem;
  }

  .container_logo_partenaires {
    width: 75vw;
    flex-direction: row;
    padding: 1.3rem;
    border-radius: 26px;
  }

  .img_logo {
    gap: 4rem;
  }

  .img_logo img {
    width: 180px;
    border-radius: 26%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .container_img_partenaires {
    margin-top: 6rem;
  }

  .h1_partenaires {
    padding-top: 26rem;
    font-size: 2.7rem;
  }

  .container_logo_partenaires {
    width: 70vw;
    flex-direction: row;
    padding: 1.4rem;
    border-radius: 28px;
  }

  .img_logo {
    gap: 5rem;
  }

  .img_logo img {
    width: 180px;
    border-radius: 28%;
  }
}

@media (min-width: 1281px) and (max-width: 1440px) {
  .container_img_partenaires {
    margin-top: 6rem;
  }

  .h1_partenaires {
    padding-top: 30rem;
    font-size: 2.9rem;
  }

  .container_logo_partenaires {
    width: 68vw;
    flex-direction: row;
    padding: 1.5rem;
    border-radius: 29px;
  }

  .img_logo {
    gap: 5.5rem;
  }

  .img_logo img {
    width: 195px;
    border-radius: 29%;
  }
}
