.ul_pop {
  position: relative;
  top: -1rem;
  right: 16rem;
  display: flex;
  padding: 8.5rem;
  gap: 10rem;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
}

.li_pop {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.li_pop a {
  color: white;
  text-decoration: none;
}

.popup {
  position: absolute;
  margin: 0 auto;
  top: 5rem;
  width: 15rem;
  background-color: #778d45;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  padding: 10px;
  z-index: 1;
  text-align: center;
}

li:hover .popup {
  display: block;
}

.popup h5 {
  margin: 0;
  padding: 5px 0;
  font-size: 1.2rem;
  color: white;
}

@media (max-width: 320px) {
  .ul_pop {
    color: red;
    display: block;
    position: relative;
    margin-right: 65rem;
  }
}
