.ul_pop {
  position: relative;
  top: -1rem;
  right: 16rem;
  display: flex;
  padding: 8.5rem;
  gap: 10rem;
  justify-content: center;
  color: var(--tertiary-color);
  font-size: 1.5rem;
}

.li_pop {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.li_pop a {
  color: var(--tertiary-color);
  text-decoration: none;
}

.popup {
  position: absolute;
  margin: 0 auto;
  top: 5rem;
  width: 15rem;
  /* background-color: var(--primary-color); */
  background-color: var(--tertiary-color);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  padding: 10px;
  z-index: 1;
  text-align: center;
}

li:hover .popup {
  display: block;
}

.popup_item:hover {
  background-color: #5d6e34;
  color: var(--tertiary-color);
  /* border-radius: 30px; */
}

.popup a {
  margin: 0;
  padding: 5px 0;
  font-size: 1.2rem;
  /* color: var(--tertiary-color); */
  color: var(--quaternary-color);
  cursor: pointer;
  flex-direction: column;
  display: flex;
}

@media screen and (max-width: 767px) {
  .popup {
    display: flex;
    flex-direction: column;
    position: static;
    width: 10rem;
  }
}
