.container_img_propos1 {
  background-image: url(/public/img/Bannière_canva_propos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 28rem;
  margin-top: 3.5rem;
}
