.container_savoir1 {
  background-image: url(../public/img/pexels-anete-lusina-16621442.jpg);
  margin-top: 6rem;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.div_savoir1 {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.714);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.div_savoir1 h1 {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 2rem;
}

.div_savoir1 p {
  font-size: 17px;
  text-align: justify;
}

.div_savoir1 button {
  background-color: var(--tertiary-color);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 17px;
  margin: 0 0.5rem;
  cursor: pointer;
}
