.container_sensibilisation1 {
  background-image: url(../public/img/pexels-anete-lusina-16621442.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 33rem;
  min-width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.h1_sensi1 {
  color: var(--tertiary-color);
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  padding-top: 1.7rem;
}

.div_container_sensi1 {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 1rem;
  width: 70vw;
  margin: 0 auto;
  gap: 1rem;
  margin-top: 2rem;
}

.div_container_sensi1 img {
  border-radius: 15px;
  width: 310px;
  height: 310px;
  object-fit: cover;
}

.text_sensi1 {
  background-color: rgba(255, 255, 255, 0.9);
  width: 68%;
  padding: 4px;
}

.text_sensi1 h2 {
  font-size: 1.4rem;
  width: 40rem;
  margin-bottom: 0.5rem;
}

.text_sensi1 p {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  padding: 7px;
}

.container_sensi_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 3rem;
  justify-items: center;
  margin-bottom: 2rem;
}

.grid_item_sensi img {
  width: 330px;
  height: 330px;
  object-fit: cover;
}

.grid_item_sensi {
  background-color: rgba(255, 255, 255, 0.714);
  width: 330px;
  height: 330px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid_item_sensi1 {
  background-color: #e75557;
  width: 330px;
  height: 330px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid_item_sensi2 {
  background-color: #a7e8d5;
  width: 330px;
  height: 330px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid_item_sensi3 {
  background-color: #ea8c62;
  width: 330px;
  height: 330px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container_sensi_grid h3 {
  text-align: center;
  color: var(--tertiary-color);
  margin-top: 1rem;
  font-size: 1.5rem;
}

.container_sensi_grid p {
  text-align: center;
  margin-top: 2rem;
  color: var(--tertiary-color);
  font-size: 18px;
}

.container_sensi2 {
  background-color: var(--secondary-color);
  width: 60vw;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.text_sensi2 h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text_sensi2 p {
  text-align: justify;
  width: 40rem;
  margin: 0 auto;
  font-size: 16px;
}

.text_sensi2 {
  margin-bottom: 1.5rem;
}

.img_sensi2 img {
  object-fit: cover;
  border-radius: 40px;
}

.img_sensi2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.img_sensi2 p {
  text-align: justify;
  width: 23rem;
  margin-top: 1rem;
  font-size: 18px;
}
