.h1_inscription {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 7rem;
}

.container_form_inscription {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--secondary-color);
  width: 50vw;
  border-radius: 30px;
  padding: 2rem;
  height: 100%;
  margin-bottom: 2rem;
}

.input_container_inscri {
  position: relative;
  margin-bottom: 2rem;
}

.input_container_inscri label {
  color: var(--primary-color);
  padding-bottom: 2rem;
  font-size: 1.5rem;
  position: absolute;
  margin-left: 5%;
  top: 0;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding-right: 35px;
  box-sizing: border-box;
}

.toggle_password {
  position: absolute;
  top: 55%;
  right: 2rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggle_password:hover {
  text-decoration: underline;
}

.button_envoyer_inscri {
  display: block;
  margin: 0 auto;
  padding: 0.8rem 2rem;
  margin-top: 5rem;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: var(--tertiary-color);
}

.error-message {
  color: red;
}

.cat_image {
  width: 220px;
  height: 250px;
  margin-left: -10.8rem;
  position: absolute;
  margin-top: -6.7rem;
}

@media screen and (max-width: 480px) {
  .h1_inscription {
    font-size: 2.1rem;
    margin-top: 5rem;
  }

  .container_form_inscription {
    width: 75vw;
    height: 100%;
  }

  input {
    width: 100%;
  }

  .cat_image {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container_form_inscription {
    width: 80vw;
    height: 100%;
  }

  .h1_inscription {
    font-size: 2rem;
    margin-top: 1rem;
  }

  input {
    width: 62vw;
  }

  .cat_image {
    width: 125px;
    height: 190px;
    margin-left: -5.5rem;
    margin-top: -0.2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container_form_inscription {
    width: 80vw;
    height: 100%;
  }

  input {
    width: 60vw;
  }

  .cat_image {
    margin-left: -9.6rem;
  }

  .h1_inscription {
    font-size: 2.3rem;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .h1_inscription {
    margin-top: 1.5rem;
    margin-bottom: 5.7rem;
  }

  .container_form_inscription {
    height: 100%;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
  .h1_inscription {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
}
