.footer {
  background-color: #778d45;
  height: 20rem;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

.logo_footer img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: 10px;
  border-radius: 100%;
  padding-top: 1rem;
}

.icon_email img {
  width: 45px;
  height: 45px;
  padding-right: 1rem;
  float: inline-start;
}

.icon_email_h2 {
  margin-left: 20rem;
  margin-top: -11rem;
  color: white;
  font-size: 1.8rem;
}

.liste_contact_footer {
  margin-left: 20rem;
  font-size: 1.3rem;
}

.liste_contact_footer li {
  color: white;
}

.liste_contact_footer a {
  text-decoration: none;
  color: white;
}

.icon_horaire_h2 img {
  width: 45px;
  height: 45px;
  float: inline-start;
  padding-right: 1rem;
}

.icon_horaire_h2 {
  font-size: 1.8rem;
  color: white;
  margin-left: 60rem;
  margin-top: -13.5rem;
}

.liste_horaire_footer {
  color: white;
  margin-left: 60rem;
  font-size: 1.3rem;
}

.liste_horaire_footer a {
  text-decoration: none;
  color: white;
}

.reseaux_sociaux {
  color: white;
  font-size: 1.6rem;
  display: flex;
  margin-left: 5rem;
  margin-top: 1.6rem;
}

.liste_sociaux li {
  list-style-type: none;
  display: inline;
  color: white;
  margin-left: 3rem;
}

.liste_sociaux img {
  width: 40px;
  margin-left: -2rem;
}

.h5_bancaire {
  color: white;
  margin-top: -3.3rem;
  font-size: 1.3rem;
  float: right;
  margin-right: 5rem;
}

.copy {
  margin-top: -1.5rem;
  margin-left: 50rem;
  color: white;
}
