/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap");

.navbar {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 6rem;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.425);
}

.navbar_links {
  display: flex;
}

.navbar_link {
  padding: 3.5rem;
  font-family: "Exo 2", sans-serif;
  color: var(--tertiary-color);
  font-size: 2rem;
}

.navbar_burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: var(--tertiary-color);
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.navbar_logo img {
  border-radius: 50px;
margin-top: 0.3rem;
  margin-left: 1rem;
  background-size: cover;
  background-position: center;
}

.icon_navbar {
  position: relative;
  right: 2%;
}

@media screen and (max-width: 1024px) {
  .navbar_logo img {
    margin-left: 0.5rem;
  }

  .navbar_links {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    align-items: center;
    top: 0;
    visibility: hidden;
    height: 100vh;
    padding: 2rem;
    background-color: #fbf4de;
    width: 0;
    transition: all 0.4s ease-out;
  }

  .show-nav .navbar_links {
    visibility: visible;
    width: 35vw;
    right: 0;
  }

  .navbar_link {
    display: block;
    padding: 1.5rem;
    color: var(--primary-color);
  }

  .navbar_burger {
    position: relative;
    display: block;
    position: fixed;
    top: 1.5rem;
    right: 6%;
  }

  .navbar_burger:hover {
    cursor: pointer;
  }

  .burger_bar,
  .burger_bar::before,
  .burger_bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: var(--quaternary-color);
    transition: all 0.4s ease-in-out;
  }

  .burger_bar::before,
  .burger_bar::after {
    content: "";
    position: absolute;
    left: 0;
  }

  .burger_bar::before {
    transform: translateY(-12px);
  }

  .burger_bar::after {
    transform: translateY(12px);
  }

  .show-nav .burger_bar {
    width: 0;
    background: transparent;
  }

  .show-nav .burger_bar::before {
    transform: rotate(45deg);
  }

  .show-nav .burger_bar::after {
    transform: rotate(-45deg);
  }

  .navbar_item::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 3vw;
    height: 2px;
    background-color: var(--primary-color);
  }

  .navbar_item:last-child:after {
    display: none;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .navbar_link {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
  .navbar_link {
    padding: 3rem;
  }
}
