.navbar {
  background-color: #778d45;
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo-nav {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: 10px;
}

.logo {
  border-radius: 45px;
  width: 10rem;
  height: 5rem;
  object-fit: cover;
}

.nav_ul {
  display: flex;
  gap: 10rem;
  padding: 8.5rem;
}

.nav_ul li {
  list-style-type: none;
}

.nav_ul a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.coeur_don img {
  margin-top: 0.5rem;
}

.icon_connect img {
  margin-top: 0.5rem;
  margin-left: 4rem;
}

