/* Styling for the button to open the filters */
.open-filters-button {
  display: block;
  margin: 1.5rem auto;
  padding: 0.8rem 2rem;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  font-size: 1.2rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Popup Overlay */
.filtre-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure popup is on top of other content */
}

/* Popup Content */
.filtre-popup-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto; /* Enable scrolling if content overflows */
  width: 30%;
  position: relative;
}
.filtre-popup-content h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

/* Styling for the filter list inside the popup */
.ul_filtre_popup {
  display: flex;
  flex-direction: column; /* Stack filters vertically in popup */
  list-style-type: none;
  padding: 0;
  gap: 1rem; /* Space between filter items */
}

.ul_filtre_popup li {
  padding: 0.5rem 0;
  text-align: center;
}

.ul_filtre_popup select {
  width: 100%; /* Make select full width of its container */
  padding: 0.7rem;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  font-size: 1.2rem;
  color: var(--primary-color);
  background-color: white;
  cursor: pointer;
  appearance: none; /* Remove default arrow */
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%;
  background-size: 0.65em auto;
}

/* Actions in the popup (Apply, Reset, and Close buttons) */
.popup-actions {
  display: flex;
  flex-direction: column; /* Stack buttons vertically for better mobile experience */
  gap: 1rem; /* Space between buttons */
  margin-top: 2rem;
}

.appliquer-filtre,
.reset-filters-button,
.close-popup-button {
  width: 100%; /* Make buttons full width */
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.appliquer-filtre {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border: none;
}

.reset-filters-button {
  background-color: #f0ad4e; /* A distinct color for reset, e.g., orange/yellow */
  color: #fff;
  border: none;
}

.close-popup-button {
  background-color: #ccc;
  color: #333;
  border: none;
}
