.container_appercu {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.item {
  margin-top: 1rem;
  border: 1px solid var(--primary-color);
  width: 20rem;
  height: 25rem;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color: var(--secondary-color);
  justify-self: center;
  box-shadow: 14px 15px 15px rgba(5, 3, 1, 0.4);
}

.item img {
  width: 320px;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.age {
  font-size: 1.3rem;
  margin-left: 10rem;
  margin-top: -3.8rem;
}

.item_info {
  padding: 10px;
  font-family: Arial, sans-serif;
  display: block;
  justify-content: center;
  text-align: center;
}

.item_info h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.item_info p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.item_info button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  margin: 0 6rem;
  font-size: 1rem;
  color: var(--tertiary-color);
  cursor: pointer;
  margin-top: 1rem;
}

.item_info button:hover {
  background-color: var(--senary-color);
  transition: ease-in 0.3s;
}

.animal_group_chat {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.button_plus {
  margin-top: 1rem;
  margin-left: 39.5rem;
  background-color: var(--primary-color);
  border-radius: 50px;
  width: 15rem;
  height: 2.3rem;
  color: var(--tertiary-color);
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  .container_appercu {
    padding-top: 0.2rem;
    padding-bottom: 1rem;
  }

  .animal_group_chat {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .item {
    width: 95vw;
    height: auto;
    margin-top: 1rem;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    box-shadow: 6px 8px 10px rgba(5, 3, 1, 0.2);
  }

  .item img {
    width: 100%;
    height: 160px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .age {
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-top: -2.5rem;
    text-align: left;
  }

  .item_info {
    padding: 6px;
    font-size: 0.95rem;
  }

  .item_info h3 {
    font-size: 1.1rem;
  }

  .item_info p {
    font-size: 0.95rem;
  }

  .item_info button {
    margin: 0 1rem;
    font-size: 0.95rem;
    margin-top: 0.7rem;
    width: 90%;
  }

  .button_plus {
    margin-left: 0;
    width: 90vw;
    font-size: 1.1rem;
    height: 2.1rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
