/* Styles pour la section d'aperçu des animaux */
.container_appercu {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

/* Styles pour chaque carte d'animal (item) */
.item {
  margin-top: 1rem;
  border: 1px solid var(--primary-color);
  width: 20rem;
  height: 25rem;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color: var(--secondary-color);
  justify-self: center;
  box-shadow: 14px 15px 15px rgba(5, 3, 1, 0.4);
  position: relative; /* Indispensable pour positionner le tag 'Sauvetage' à l'intérieur */
}

.item img {
  width: 320px;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.age {
  font-size: 1.3rem;
  margin-left: 10rem;
  margin-top: -3.8rem;
}

.item_info {
  padding: 10px;
  font-family: Arial, sans-serif;
  display: block;
  justify-content: center;
  text-align: center;
}

.item_info h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.item_info p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.item_info button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  margin: 0 6rem;
  font-size: 1rem;
  color: var(--tertiary-color);
  cursor: pointer;
  margin-top: 1rem;
}

.item_info button:hover {
  background-color: var(--senary-color);
  transition: ease-in 0.3s;
}

.animal_group_chat {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; /* Centrer les items dans la grille */
  gap: 20px; /* Ajout d'un écart entre les éléments de la grille */
}

.button_plus {
  margin-top: 1rem;
  margin-left: 39.5rem;
  background-color: var(--primary-color);
  border-radius: 50px;
  width: 15rem;
  height: 2.3rem;
  color: var(--tertiary-color);
  font-size: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Styles pour l'en-tête de la galerie */
.container_img_galerie {
  background-image: url(/public/img/pexels-anete-lusina-16621442.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 35rem;
  top: 0;
  left: 0;
  padding: 0;
  margin-top: 5rem;
}

.divimg_principal {
  margin-top: -1.5rem;
}

.h1_proteges {
  display: block;
  margin: 0 auto;
  color: var(--tertiary-color);
  font-size: 2.5rem;
  text-align: center;
  margin-top: 5rem;
  padding-top: 1rem;
  position: relative;
}

.img_galerie1 img {
  border-radius: 80%;
  width: 470px;
  height: 370px;
  margin-top: 3rem;
}

.img_galerie1 {
  display: flex;
  justify-content: center;
}

.img_galerie2 img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-top: -22rem;
  margin-right: 19.5rem;
  float: right;
  position: relative;
}

.img_galerie3 img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-left: 20rem;
}

.img_galerie3 {
  margin-top: -21rem;
}

.img_galerie4 img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  background-position: center;
  border-radius: 100%;
  margin-left: 8rem;
  margin-top: -8rem;
}

.img_galerie4 {
  width: 100%;
  height: 100%;
}

.animal_group_chien {
  /* Cette classe peut être utilisée spécifiquement pour la galerie des chiens */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
}

.container_galerie {
  justify-content: center;
  align-items: center;
}

/* --- Nouveau style pour le tag Sauvetage dans les fiches de galerie --- */
.rescue-tag {
  position: absolute; /* Positionne le tag par rapport à l'élément parent avec position: relative */
  top: 10px; /* Distance du haut de l'image */
  right: 10px; /* Distance de la droite de l'image */
  background-color: #e74c3c; /* Couleur rouge pour le sauvetage */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.85rem;
  font-weight: bold;
  z-index: 1;
  text-transform: uppercase;
}

/* --- Media Queries --- */

@media (max-width: 480px) {
  .container_appercu {
    padding-top: 0.2rem;
    padding-bottom: 1rem;
  }

  .animal_group_chat {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .item {
    width: 95vw;
    height: auto;
    margin-top: 1rem;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    box-shadow: 6px 8px 10px rgba(5, 3, 1, 0.2);
  }

  .item img {
    width: 100%;
    height: 160px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .age {
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-top: -2.5rem;
    text-align: left;
  }

  .item_info {
    padding: 6px;
    font-size: 0.95rem;
  }

  .item_info h3 {
    font-size: 1.1rem;
  }

  .item_info p {
    font-size: 0.95rem;
  }

  .item_info button {
    margin: 0 1rem;
    font-size: 0.95rem;
    margin-top: 0.7rem;
    width: 90%;
  }

  .button_plus {
    margin-left: 0;
    width: 90vw;
    font-size: 1.1rem;
    height: 2.1rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .container_img_galerie {
    height: 18rem;
    margin-top: 2rem;
    background-position: center;
    background-size: cover;
  }

  .h1_proteges {
    font-size: 1.5rem;
    margin-top: 2rem;
    padding-top: 0.5rem;
  }

  .img_galerie1 img,
  .img_galerie2 img,
  .img_galerie3 img,
  .img_galerie4 img {
    width: 140px;
    height: 140px;
    margin: 0.5rem auto;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

  .img_galerie1,
  .img_galerie3,
  .img_galerie4 {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img_galerie2 img {
    margin: 0.5rem auto;
    position: static;
  }

  .animal_group_chien {
    /* Cette classe s'applique aux chiens mais aussi aux chats ici sur mobile pour la grille */
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
  }

  .container_galerie {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* Ajustement du tag sur mobile */
  .rescue-tag {
    top: 5px;
    right: 5px;
    padding: 4px 8px;
    font-size: 0.75rem;
  }
}
/* Tablet devices (min-width: 481px and max-width: 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .container_appercu {
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
  }

  .animal_group_chat {
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes sur tablette */
    gap: 1.5rem;
  }

  .item {
    width: 45vw; /* Ajustez la largeur pour 2 colonnes */
    height: auto;
    margin-top: 1rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 9%;
    border-bottom-right-radius: 9%;
    box-shadow: 8px 10px 12px rgba(5, 3, 1, 0.3);
  }

  .item img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .age {
    font-size: 1.1rem;
    margin-left: 0.8rem;
    margin-top: -3rem;
  }

  .item_info {
    padding: 8px;
    font-size: 0.98rem;
  }

  .item_info h3 {
    font-size: 1.3rem;
  }

  .item_info p {
    font-size: 0.98rem;
  }

  .item_info button {
    margin: 0 1.5rem;
    font-size: 0.98rem;
    margin-top: 0.8rem;
    width: 80%;
  }

  .button_plus {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    font-size: 1.3rem;
    height: 2.2rem;
  }

  .container_img_galerie {
    height: 25rem;
    margin-top: 3rem;
  }

  .h1_proteges {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .img_galerie1 img {
    width: 300px;
    height: 250px;
    margin-top: 2rem;
  }

  .img_galerie2 img,
  .img_galerie3 img,
  .img_galerie4 img {
    width: 180px;
    height: 180px;
    margin: 0.8rem auto;
  }

  .img_galerie2 img {
    margin-right: 10rem;
  }

  .img_galerie3 {
    margin-top: -15rem;
  }

  .img_galerie4 {
    margin-top: -5rem;
  }

  /* Ajustement du tag sur tablette */
  .rescue-tag {
    top: 8px;
    right: 8px;
    padding: 5px 10px;
    font-size: 0.8rem;
  }
}

/* Small Laptops/Desktops (min-width: 769px and max-width: 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .container_appercu {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
  }

  .animal_group_chat {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
  }

  .item {
    width: 25vw;
    height: 22rem;
  }

  .item img {
    width: 100%;
    height: 190px;
  }

  .age {
    font-size: 1.2rem;
    margin-left: 0.8rem;
    margin-top: -3.5rem;
  }

  .item_info button {
    margin: 0 4rem;
    font-size: 0.95rem;
    width: 70%;
  }

  .button_plus {
    width: 20vw;
    font-size: 1.3rem;
    height: 2.3rem;
  }
  /* Réajustement des images de l'en-tête */
  .container_img_galerie {
    height: 30rem;
    margin-top: 4rem;
  }

  .h1_proteges {
    font-size: 2.2rem;
    margin-top: 4rem;
  }

  .img_galerie1 img {
    width: 380px;
    height: 300px;
  }

  .img_galerie2 img {
    width: 200px;
    height: 200px;
    margin-right: 15rem;
  }

  .img_galerie3 img {
    width: 200px;
    height: 200px;
    margin-left: 15rem;
    margin-top: -18rem;
  }

  .img_galerie4 img {
    width: 200px;
    height: 200px;
    margin-left: 6rem;
    margin-top: -6rem;
  }
  /* Ajustement du tag sur petits laptops/desktops */
  .rescue-tag {
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 0.85rem;
  }
}

/* Medium Laptops/Desktops (min-width: 1025px and max-width: 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {
  .container_appercu {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
  }

  .animal_group_chat {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .item {
    width: 22rem;
    height: 24rem;
  }

  .item img {
    width: 100%;
    height: 200px;
  }

  .age {
    font-size: 1.25rem;
    margin-left: 0.9rem;
    margin-top: -3.6rem;
  }

  .item_info button {
    margin: 0 4.5rem;
    font-size: 1rem;
    width: 65%;
  }

  .button_plus {
    width: 18rem;
    font-size: 1.4rem;
    height: 2.3rem;
  }
  /* Réajustement des images de l'en-tête */
  .container_img_galerie {
    height: 35rem;
    margin-top: 5rem;
  }

  .h1_proteges {
    font-size: 2.5rem;
    margin-top: 5rem;
  }

  .img_galerie1 img {
    width: 470px;
    height: 370px;
  }

  .img_galerie2 img {
    width: 250px;
    height: 250px;
    margin-right: 19.5rem;
  }

  .img_galerie3 img {
    width: 250px;
    height: 250px;
    margin-left: 20rem;
    margin-top: -21rem;
  }

  .img_galerie4 img {
    width: 250px;
    height: 250px;
    margin-left: 8rem;
    margin-top: -8rem;
  }
  /* Ajustement du tag sur medium laptops/desktops */
  .rescue-tag {
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 0.85rem;
  }
}

/* Large Laptops/Desktops (min-width: 1281px and max-width: 1440px) */
@media (min-width: 1281px) and (max-width: 1440px) {
  .container_appercu {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  .animal_group_chat {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }

  .item {
    width: 24rem;
    height: 26rem;
  }

  .item img {
    width: 100%;
    height: 220px;
  }

  .age {
    font-size: 1.3rem;
    margin-left: 10rem;
    margin-top: -3.8rem;
  }

  .item_info button {
    margin: 0 6rem;
    font-size: 1rem;
    width: 60%;
  }

  .button_plus {
    width: 20rem;
    font-size: 1.5rem;
    height: 2.3rem;
  }
  /* Réajustement des images de l'en-tête */
  .container_img_galerie {
    height: 35rem;
    margin-top: 5rem;
  }

  .h1_proteges {
    font-size: 2.5rem;
    margin-top: 5rem;
  }

  .img_galerie1 img {
    width: 470px;
    height: 370px;
  }

  .img_galerie2 img {
    width: 250px;
    height: 250px;
    margin-right: 19.5rem;
  }

  .img_galerie3 img {
    width: 250px;
    height: 250px;
    margin-left: 20rem;
    margin-top: -21rem;
  }

  .img_galerie4 img {
    width: 250px;
    height: 250px;
    margin-left: 8rem;
    margin-top: -8rem;
  }
  /* Ajustement du tag sur grands laptops/desktops */
  .rescue-tag {
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 0.85rem;
  }
}
