PORT = "3000"
NODE_ENV = "development"
MONGO_URI = "mongodb://username:password@mongodb:27017/database-name"
JWT_SECRET = "your-secret-here"
TOKEN_EXPIRATION = "24h"
LOGS_TOKEN = ":remote-addr HTTP/:http-version :status :method :url :total-time[2]ms"
LOGS_PATH = "logs"
LOGS_LEVEL = "debug"
SLACK_WEBHOOK_URL = "https://hooks.slack.com/services/your-token"