.container_cruaute1 {
  background-color: #faf3e0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 6rem;
  padding: 2.5rem 0;
}

.titre_cruaute {
  text-align: center;
  font-size: 32px;
  border: 3px solid var(--primary-color);
  padding: 7px;
  margin: 0 auto;
}

.paragraphe_cruaute1 {
  color: var(--quaternary-color);
  font-size: 25px;
  width: 40rem;
  text-align: justify;
}

.image_cruaute1 img {
  width: 500px;
  height: 450px;
}

.container_cruaute2 {
  display: flex;
  align-items: center;
  width: 60vw;
  height: 15vw;
  background-color: var(--secondary-color);
  border-radius: 10px;
  justify-content: center;
  overflow: hidden;
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.2);
  margin: 2rem auto;
}

.paragraphe_cruaute2 {
  font-size: 23px;
  width: 25rem;
  text-align: justify;
}

.image_cruaute2 img {
  position: relative;
  left: -34%;
}

.container_cruaute3 {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 0 auto;
  padding: 1.5rem;
  gap: 1rem;
  text-align: center;
}

.div_cruaute1,
.div_cruaute2,
.div_cruaute3 {
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  padding: 1rem;
}

.div_cruaute2 p,
.div_cruaute3 p {
  font-size: 20px;
  text-align: justify;
}

.image_cruaute3 img {
  border-radius: 80%;
}

.container_cruaute4 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2.5rem 0;
}

.image_cruaute3,
.image_cruaute4 {
  margin-bottom: 2rem;
}

.paragraphe_cruaute4 h2 {
  border: 2px solid var(--primary-color);
  padding: 5px;
  font-size: 25px;
  width: 100%;
  text-align: center;
}

.paragraphe_cruaute4 {
  font-size: 20px;
  width: 22rem;
  text-align: justify;
}

.hr_cruaute {
  border: 2px solid var(--primary-color);
  width: 30%;
  margin: 2rem auto 0;
}

.container_cruaute5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

.div_container_cruaute1 h3,
.div_container_cruaute2 h3 {
  font-size: 25px;
  border: 2px solid var(--primary-color);
  padding: 5px;
  text-align: center;
}

.div_container_cruaute1 ol,
.div_container_cruaute2 ol {
  font-size: 20px;
  border: 2px solid var(--primary-color);
  list-style-position: inside;
  padding: 8px;
  height: auto;
}

.accordion-container {
  width: 60%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  flex-wrap: wrap; /* Permet de passer à la ligne si l’espace est insuffisant */
}

.accordion-item {
  flex: 1;
  min-width: 300px;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.accordion-title {
  width: 100%;
  text-align: left;
  background-color: var(--secondary-color);
  padding: 1rem;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
}

.accordion-content {
  padding: 1rem;
  font-size: 18px;
  background-color: #fdfdfd;
}

.accordion-content ul {
  list-style: disc inside;
  padding-left: 1rem;
}

@media (max-width: 768px) {
  .accordion-container {
    flex-direction: column;
  }

  .accordion-item {
    flex: 1 1 100%;
  }
}
