.page_connexion {
  display: flex;
  height: 100vh;
}

.h1_connexion {
  text-align: center;
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
}

/* Box de connexion */
.container_form_login_connexion {
  margin-top: 20px;
  background-color: var(--secondary-color);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.form-links {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.form-links a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 14px;
}

.form-links a:hover {
  text-decoration: underline;
}

.right-image {
  width: auto;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .page_connexion {
    flex-direction: column;
  }

  .h1_connexion {
    font-size: 1.5rem;
    margin-top: 50px;
  }

  .right-image {
    height: 100%;
    object-fit: cover;
  }

  .container_form_login_connexion {
    width: 80%;
  }

  .toggle-password {
    right: 0.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .page_connexion {
    flex-direction: column;
  }

  .h1_connexion {
    font-size: 1.5rem;
    margin-top: 50px;
  }

  .right-image {
    height: 100%;
    object-fit: fill;
  }

  .container_form_login_connexion {
    width: 80%;
  }

  .toggle-password {
    right: 0.5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 999px) {
  .page_connexion {
    flex-direction: column;
  }

  .right-image {
    height: fit-content;
  }
}
