.page_connexion {
  display: flex;
  height: 100vh;
}

.h1_connexion {
  text-align: center;
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
}

/* Box de connexion */
.container_form_login_connexion {
  margin-top: 20px;
  background-color: var(--secondary-color);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.form-links {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.form-links a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 14px;
}

.form-links a:hover {
  text-decoration: underline;
}

.right-image {
  width: auto;
  height: 100%;
  object-fit: cover;
}

/* ============ 320px à 480px ============ */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .page_connexion {
    flex-direction: column;
  }

  .h1_connexion {
    font-size: 1.5rem;
    margin-top: 50px;
  }

  .container_form_login_connexion {
    width: 85%;
    padding: 30px;
  }

  .right-image {
    height: auto;
    object-fit: cover;
  }
}

/* ============ 481px à 768px ============ */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .page_connexion {
    flex-direction: column;
  }

  .h1_connexion {
    font-size: 1.8rem;
    margin-top: 50px;
  }

  .container_form_login_connexion {
    width: 80%;
    padding: 35px;
  }

  .right-image {
    height: auto;
    object-fit: cover;
  }
}

/* ============ 769px à 800px ============ */
@media screen and (min-width: 769px) and (max-width: 800px) {
  .page_connexion {
    flex-direction: column;
  }

  .h1_connexion {
    font-size: 2rem;
    margin-top: 50px;
  }

  .container_form_login_connexion {
    width: 75%;
    padding: 40px;
  }

  .right-image {
    height: auto;
    object-fit: cover;
  }
}

/* ============ 801px à 1024px ============ */
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .page_connexion {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .h1_connexion {
    font-size: 2.2rem;
    margin-top: 0;
  }

  .left-content {
    padding: 2rem;
  }

  .container_form_login_connexion {
    width: 60%;
  }

  .right-image {
    height: 100%;
    object-fit: cover;
  }
}

/* ============ 1025px à 1280px ============ */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .page_connexion {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .h1_connexion {
    font-size: 2.3rem;
  }

  .container_form_login_connexion {
    width: 55%;
  }

  .right-image {
    height: 100%;
    object-fit: cover;
  }
}

/* ============ 1281px à 1440px ============ */
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  .page_connexion {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .h1_connexion {
    font-size: 2.5rem;
  }

  .container_form_login_connexion {
    width: 50%;
  }

  .right-image {
    height: 100%;
    object-fit: cover;
  }
}
