.page_compagnons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  margin-top: 3rem;
}

.h1_compagnons {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5rem;
  text-align: center;
  padding-bottom: 6rem;
}

.container_compagnons {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.animal_group_compagnons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px 0;
  justify-items: center;
}

.adoption-card {
  position: relative;
  width: 280px;
  height: 380px;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.adoption-card::before,
.adoption-card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  background-color: var(--secondary-color);
  opacity: 0.6;
  transition: all 0.5s;
}

.adoption-card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.adoption-card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.adoption-card:hover::before,
.adoption-card:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.8);
}

.adoption-card-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 0 0 5px black;
  z-index: 1;
}

.adoption-card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: #f4eaca;
  transition: opacity 0.5s ease;
  text-align: center;
  z-index: 1;
}

.adoption-card-content h2 {
  font-family: "Pacifico", cursive;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.adoption-card-content p {
  margin: 5px 0;
  font-size: 1rem;
}


.adoption-card:hover .adoption-card-content {
  opacity: 1;
}

.adoption-card:hover .adoption-card-name {
  display: none;
}

@media (max-width: 480px) {
  .h1_compagnons {
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  .animal_group_compagnons {
    grid-template-columns: 1fr;
  }

  .adoption-card {
    width: 90%;
    margin: 0 auto;
    height: 300px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .h1_compagnons {
    font-size: 2.5rem;
  }

  .animal_group_compagnons {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .adoption-card {
    width: 250px;
    height: 350px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .h1_compagnons {
    font-size: 3rem;
  }

  .animal_group_compagnons {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px 0;
  }

  .adoption-card {
    width: 220px;
    height: 320px;
  }
}
